$db-header-height: 64px;
$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$border-color: #c0c0c0;
$color-black: #333333;
$color-base-gray: #888;
$background-cell-color: #f8f9fa;
$selected-color-cheader-blue: #1a73e8;
$selected-color-cell-blue: #3c74ff;
$info-cel-width: 40px;
$cell-min-width: 40px;
$cell-width: 120px;
$row-height: 24px;
$hover-animation-speed: .25s;